.general {
    background-color: rgb(154, 115, 64);
}

body {
    background-color: rgb(224, 218, 218);
}
.city {
    text-align: center;
    background-color: tomato;
    color: white;
    border: 2px solid black;
    margin: 20px;
    padding: 20px;
  }
.inputs {
    display: flex;
    padding: 20px;
}
.data-block{
    margin:5px;

}
.central {
    margin-left: 25%;
    width: 50%;
    background-color: wheat;
}

.outputs{
    padding:5%;
}

